@model IEnumerable<BarkodSistem.Models.QrProductViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/Scripts/date.format.js"></script>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SKT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TETT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SKT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TETT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }*@

@*</table>*@




@*<table>
        <tr>

            <th >ProductName:</th>
            <th >SKT:<strong ></strong></th>
            <th >TETT:<strong ></strong></th>
            <th >ProductionDate:</th>
        </tr>



        @*<tr >
            <td id="ProductName"></td>
            <td id="SKT"></td>
            <td id="TETT"></td>
            <td id="ProductionDate"></td>

        </tr>




    </table>*@

<div id="VeriEkle"></div>

<input type="button" value="Tıkla" id="buton" />



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#buton').click(function () {

            //var qr = new QrProductViewModels;
            //qr.ProductName = $("#ProductName").val();
            //qr.ProductionDate = $("#ProductionDate").val();
            //qr.SKT = $("#SKT").val();
            //qr.TETT = $("#TETT").val();

            $.ajax({
                type: "GET",
                url: "/QrProduct/Listele",
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function (data) {

                    //var productslist = data;
                    for (var i = 0; i < data.length; i++) {
                        var nowDate = new Date(parseInt(data[i].SKT.substr(6)));
                        data[i].SKT = nowDate.format("dd/mm/yyyy");
                        data[i].TETT = nowDate.format("dd/mm/yyyy");
                        data[i].ProductionDate = nowDate.format("dd/mm/yyyy");
                        console.log(data)

                        $("#VeriEkle").append( 
                            " <tr>" +

                            "<th>" + "ProductName:" + "</th>" +
                            " <th>" + "SKT:" + "</th>" +
                            " <th>" + "TETT:" + "</th>" +
                            "<th >" + "ProductionDate:" + "</th>" +
                            "</tr>" +

                           

                            " <tr >" +
                            "<td>" + data[i].ProductName + "</td>" +
                          
                            "<td>" + (data[i].SKT) + "</td>" +
                            "<td>" + (data[i].TETT) + "</td >" +
                            " <td>" + (data[i].ProductionDate) + "</td >" +

                            "</tr>" +




                            "</table>")
                        //$("#ProductName").html(data[i].ProductName)
                        //$("#SKT").html(data[i].SKT)
                        //$("#TETT").html(data[i].TETT)
                        //$("#ProductionDate").html(data[i].ProductionDate)
                    };


                }
            })

        });
    });
</script>

